<p id="notice"><%= notice %></p>

<h4>Список препаратов (АРТ)</h4>

<table class="table" id="art_drugs">
  <thead>
    <tr>
      <th>Аббревиатура</th>
      <th>Название (лат.)</th>
      <th>Перевод</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @art_drugs.each do |art_drug| %>
      <tr>
        <td><%= art_drug.abbreviation %></td>
        <td><%= art_drug.name %></td>
        <td title="<%= art_drug.hidden_name %>"><%= art_drug.translation %></td>
        <td><%= link_to 'Show', art_drug %>
            <%= link_to 'Edit', edit_art_drug_path(art_drug) %>
            <%= link_to 'Destroy', art_drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый препарат', new_art_drug_path %>
