<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @calendar2020.day %>
</p>

<p>
  <strong>Description:</strong>
  <%= @calendar2020.description %>
</p>

<%= link_to 'Edit', edit_calendar2020_path(@calendar2020) %> |
<%= link_to 'Back', calendar2020s_path %>
