<%= form_for(@memory_date) do |f| %>
  <% if @memory_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memory_date.errors.count, "error") %> prohibited this memory_date from being saved:</h2>

      <ul>
      <% @memory_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label 'День' %><br>
      <%= f.number_field :day %>
    </div>
    <div class="field">
      <%= f.label 'Месяц' %><br>
      <%= f.select(:month, ((1..12).to_a.collect{|i| [I18n.t("date.month_names")[i], i] })) %>
    </div>
    <div class="field">
      <%= f.label 'Год' %><br>
      <%= f.number_field :year %>
    </div>
    <div class="field">
      <%= f.label 'Тип' %><br>
      <%= f.select(:kind, MemoryDate::KINDS.collect{|k,v| [v,k]}) %>
    </div>
  <div class="field">
    <%= f.label 'Описание' %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
