<p id="notice"><%= notice %></p>

<h4>Памятные даты</h4>

<table class="table">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Тип</th>
      <th>Текст</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memory_dates.each do |memory_date| %>
      <tr>
        <td><%= memory_date.day %>
            <%= I18n.t("date.month_names")[memory_date.month] %>
            <%= memory_date.year %></td>
        <td><%= MemoryDate::KINDS[memory_date.kind] %></td>
        <td><%= memory_date.description %></td>
        <td>
            <%= link_to content_tag(:i, '', class: 'fa fa-edit fa-lg fa-fw'), edit_memory_date_path(memory_date), { class: 'btn btn-sm btn-outline-primary', role: 'button', title: 'Редактировать'} %>
            <%= link_to content_tag(:i, '', class: 'fa fa-minus-circle fa-lg fa-fw'), memory_date, class: 'btn btn-sm btn-outline-primary', role: 'button', title: 'Показать', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая дата', new_memory_date_path, class: 'btn btn-default btn-sm' %>
