<h4>Редактирование новости</h4>

<%= form_for(@submit_news) do |f| %>
    <p>
      Присланная новость
    </p>
    <p>
      <%= f.text_area(:news_text, cols: 80, rows: 10) %>
    </p>
    <p>
      Комментарий группы
    </p>
    <p>
      <%= f.text_area(:answer, cols: 80, rows: 10) %>
    </p>
    <%= link_to 'Назад', :back, class: :btn %>
    <%= f.submit 'Сохранить', class: [:btn, 'btn-primary'] %>
<% end %>