<h4>Предложенные новости</h4>

<table id="submit_news" class="table table-striped">
  <thead>
    <th>Дата</th>
    <th>Группа</th>
    <th>Текст</th>
    <th></th>
  </thead>
  <tbody>
  <% @submit_news_all.each do |submit_news| %>
  <tr data-id="<%= submit_news.id %>">
    <td><%= submit_news.created_at %></td>
    <td><%= submit_news.community.screen_name %></td>
    <td>
      <div class="submit_news min_height">
        <% submit_news.news_text.split("\n").each do |piece| %>
          <%= piece %><br/>
        <% end %>
        <% if submit_news.submit_news_uploads.count > 0 %>
          <hr/>
          <% submit_news.uploads.each do |upload| %>
            <%= link_to (content_tag(:i, '', class: 'fa fa-save') + ' ' + upload.file_name), '/uploads/' + upload.id.to_s %>
          <% end %>
        <% end %>
      </div>
      <button class="wrap" type="button"><i class="fa fa-angle-double-down"></i></button>
    </td>
    <td>
<!--
      <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li class="btn-dropdown-element">
            <button type="button" class="btn btn-warning">
              Не обработано
            </button>
          </li>
          <li class="btn-dropdown-element">
            <button type="button" class="btn btn-info">
              Написано
            </button>
          </li>
          <li class="btn-dropdown-element">
            <button type="button" class="btn btn-success">
              Обработано
            </button>
          </li>
        </ul>
      </div>
-->
      <%= link_to 'Детали', submit_news, class: :btn %>
      <%= select_tag('submit_news[status]', options_for_select(
          [
              ['Не обработано', 'not_handled', {:class => 'ui-icon-notice', 'data-content' => "<span class='label label-warning'>Не обработано</span>"}],
              ['Написано', 'written', {:class => 'ui-icon-notice', 'data-content' => "<span class='label label-info'>Написано</span>"}],
              ['Обработано', 'handled', {:class => 'ui-icon-notice', 'data-content' => "<span class='label label-success'>Обработано</span>"}]
          ], submit_news.status), {:class => 'selectpicker', 'data-width' => '150px'}) %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>