<div class="post_header">
  <a class="post_image" href="/vichnet">
    <img src="https://vk.com/images/camera_50.png" data-post-click-type="post_owner_img" width="50" height="50" class="post_img">
    <span class="blind_label">.</span>
  </a>

  <div class="post_header_info">
    <h5 class="post_author">
      <a class="author" data-post-click-type="post_owner_link">
        ИМЯ АВТОРА
      </a>
      <span class="explain"><span class="wall_fixed_label">&nbsp;запись закреплена</span></span></h5>
    <div class="post_date"><a class="post_link">
      <span class="rel_date"><%= @post.created_at.to_vk_time('Europe/Moscow')%></span>
    </a></div>
    <div class="ui_actions_menu_wrap _ui_menu_wrap">
      <div class="ui_actions_menu_icons" tabindex="0" aria-label="Действия" role="button"><span class="blind_label">Действия</span></div>
      <div class="ui_actions_menu _ui_menu"><a class="ui_actions_menu_item" tabindex="0" role="link">Пожаловаться</a></div>
    </div>
  </div>
</div>
<div class="post_content">
  <div class="post_info">

    <div class="wall_text">
      <div class="wall_post_cont _wall_post_cont">
        <div class="wall_post_text">
          <%= comment_body(@post.raw['text']) %>
        </div>

        <!-- 510 x 383 = 1 image -->
        <!-- 185 + 320 = 505 x 261-->
        <!--
        <div class="page_post_sized_thumbs  clear_fix" style="width: 510px; height: 261px;">
          <a style="width: 185px; height: 261px;background-image: url(https://pp.userapi.com/c830108/v830108333/1689ad/ZSGetp2xdtg.jpg);" class="page_post_thumb_wrap image_cover  page_post_thumb_last_row fl_l"></a>
          <a style="width: 320px; height: 261px;background-image: url(https://pp.userapi.com/c830108/v830108333/1689b5/I-1UMbb_ksM.jpg);" class="page_post_thumb_wrap image_cover  page_post_thumb_last_column page_post_thumb_last_row fl_l"></a>
        </div>-->
      </div>
    </div>

    <div class="like_wrap">
      <div class="like_cont ">
        <div class="like_btns">
          <a class="like_btn like _like" data-count="8" href="#" title="Нравится">
            <div class="like_button_icon"></div>
            <div class="like_button_label"></div>
            <div class="like_button_count"><%= (@post.likes.try(:count) || '') %></div>
            <span class="blind_label">Нравится</span>
          </a>
          <span class="blind_label" tabindex="0" role="link">Показать список оценивших</span>
          <a class="like_btn share _share" data-count="2" href="#" title="Поделиться">
            <div class="like_button_icon"></div>
            <div class="like_button_label"></div>
            <div class="like_button_count"></div>
            <span class="blind_label">Поделиться</span>
          </a>
          <span class="blind_label" tabindex="0" role="link">Показать список поделившихся</span>

        </div>
        <div class="like_views _views"><!-- 2.2K --></div>

      </div>
    </div>

    <div class="post_replies_count"><%= @post.post_comments.count %> <%= t(:comment, count: @post.post_comments.count) %></div>

    <div class="replies">
      <div class="replies_wrap" style="">
        <div class="replies_list _replies_list">
          <% @post.post_comments.order(:created_at).each do |comment| %>
              <%= render partial: 'vk_comment', locals: {comment: comment} %>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>
