<p id="notice"><%= notice %></p>

<h4>Список отслеживаемых сообществ</h4>

<table id="listing_communities">
  <thead>
    <tr>
      <th>Короткое имя</th>
      <th>VK ID</th>
      <th>Название</th>
      <th>Участников</th>
      <th>Прирост</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= link_to community.screen_name, 'https://vk.com/' + community.screen_name %></td>
        <td><%= community.vk_id %></td>
        <td><%= community.name %></td>
        <td>
          <% if !@histories_hash[community.id].nil? %>
            <%= @histories_hash[community.id].members_count %>
          <% end %>
        </td>
        <td>
          <% if !@histories_hash[community.id].nil? %>
            <% if !@histories_hash[community.id].diff.nil? %>
              <% diff = JSON::parse(@histories_hash[community.id].diff) %>
              <%= diff['added'].count - diff['removed'].count %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to 'Show', community %>
          <!--
          <%= link_to 'Edit', edit_community_path(community) %>
          <%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %>--></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community', new_community_path %>
