<h4>Community Information</h4>

<p id="notice"><%= notice %></p>

<div style="width: 49%; float: left;">
  <table class="table table-striped">
    <thead>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </thead>
    <tr>
      <td>Screen name:</td>
      <td><%= @community.screen_name %></td>
    </tr>
    <tr>
      <td>VK ID:</td>
      <td><%= @community.vk_id %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @community.name %></td>
    </tr>
  </table>
</div>

<div style="width: 49%; float: right;">
  <table class="table table-striped">
    <thead>
      <th>Time</th>
      <th>Count</th>
    </thead>
    <% @community.community_member_histories.order('created_at desc').limit(10).each do |history| %>
      <tr>
        <td>
          <%= history.created_at %>
        </td>
        <td><%= history.members_count %></td>
      </tr>
    <% end %>
  </table>
</div>

<div style="clear: both;">
  <%= link_to 'Edit', edit_community_path(@community) %> |
  <%= link_to 'Back', communities_path %>
</div>
