<%= form_for(@other_drug) do |f| %>
  <% if @other_drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@other_drug.errors.count, "error") %> prohibited this other_drug from being saved:</h2>

      <ul>
      <% @other_drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Название' %><br>
    <%= f.text_field :name, disabled: true %>
  </div>
  <div class="field">
    <%= f.label 'Перевод' %><br>
    <%= f.text_field :translation %>
  </div>
  <div class="field">
    <%= f.label 'Описание' %><br>
    <%= f.text_area :hidden_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
