<%= form_for(@other_drug) do |f| %>
  <% if @other_drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@other_drug.errors.count, "error") %> prohibited this other_drug from being saved:</h2>

      <ul>
      <% @other_drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Название (лат)' %><br>
    <%= f.text_field :name, size: 80, disabled: true %>
  </div>
  <div class="field">
    <%= f.label 'Перевод' %><br>
    <%= f.text_field :translation, size: 80 %>
  </div>
  <div class="field">
    <%= f.label 'Другие названия, каждое с новой строки' %><br>
    <%= f.text_area :hidden_name, cols: 80, rows: 10 %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
