<p id="notice"><%= notice %></p>

<h4>Список препаратов (не АРТ)</h4>

<table class="table" id="other_drugs">
  <thead>
    <tr>
      <th>Название</th>
      <th>Перевод</th>
      <th>Категория</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @other_drugs.each do |other_drug| %>
      <tr>
        <td><%= other_drug.name %></td>
        <td title="<%= other_drug.hidden_name %>"><%= other_drug.translation %></td>
        <td><%= other_drug.drug_group.name %></td>
        <td><%= link_to 'Show', other_drug %>
            <%= link_to 'Edit', edit_other_drug_path(other_drug) %>
            <%= link_to 'Destroy', other_drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый препарат', new_other_drug_path %>
