<p id="notice"><%= notice %></p>

<p>
  <strong>Название (лат):</strong>
  <%= @other_drug.name %>
</p>
<p>
  <strong>Перевод:</strong>
  <%= @other_drug.translation %>
</p>
<p>
  <strong>Другие названия:</strong>
  <%= @other_drug.hidden_name %>
</p>
<%= link_to 'Edit', edit_other_drug_path(@other_drug) %> |
<%= link_to 'Back', other_drugs_path %>
