<% if user_signed_in? %>
  <ul class="nav navbar-nav">
    <% if current_user.has_permission?('Communities') %>
    <li>
      <%= link_to "Сообщества", communities_path, 'data-no-turbolink': true %>
    </li>
    <% end %>
    <% if current_user.has_permission?('Detective') %>
    <li>
      <%= link_to "Люди", members_path, 'data-no-turbolink': true %>
    </li>
    <% end %>

    <% if current_user.has_permission?('Detective') %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wikileaks<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% CopyDialog.order(:id).each do |copy_dialog| %>
          <% if current_user.has_permission_id?(copy_dialog.permission_id) %>
            <li>
              <%= link_to copy_dialog.title, copy_dialog_copy_messages_path(copy_dialog_id: copy_dialog.id), 'data-no-turbolink': true %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
    <% end %>

    <% if current_user.has_permission?('Detective') %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Другое<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <% if current_user.has_permission?('DetivichAdmin') %>
        <li>
          <%= link_to "Предложенные новости", submit_news_index_path, 'data-no-turbolink': true %>
        </li>
        <% end %>
        <li>
          <%= link_to "Памятные даты", memory_dates_path, 'data-no-turbolink': true %>
        </li>
        <% if current_user.has_permission?('Admin') %>
            <li>
              <%= link_to "Пользователи", users_path, 'data-no-turbolink': true %>
            </li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "Короткие ссылки", shortlinks_path, 'data-no-turbolink': true %>
        </li>
          <li role="separator" class="divider"></li>
        <li>
          <%= link_to "АРТ", art_drugs_path, 'data-no-turbolink': true %>
        </li>
        <li>
          <%= link_to "Не АРТ", other_drugs_path, 'data-no-turbolink': true %>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "Взаимодействие препаратов", druginteractions_path, 'data-no-turbolink': true %>
        </li>
      </ul>
      </li>
    <% end %>
    <% admin_of_news = current_user.admin_of %>
    <% if !admin_of_news.empty? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Предложенные новости<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% admin_of_news.each do |community_key| %>
            <li>
              <%= link_to community_key.name, submit_news_index_path(community_vk_id: community_key.vk_id), 'data-no-turbolink': true %>
            </li>
          <% end %>
        </ul>
      </li>

  <% end %>
  </ul>
  <div class="navbar-collapse collapse justify-content-end">
    <ul class="nav navbar-nav w-100">
      <% if session[:current_user_name] %>
        <span class="navbar-text">
          <small>Добро пожаловать, <%= session[:current_user_name] %>!</small>
        </span>
      <% end %>

      <li class="navbar-right">
        <%= link_to('Выйти', destroy_user_session_path, method: :delete) %>
      </li>
    </ul>
  </div>
<% else %>
  <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
    <% if session[:current_user_name] %>
      <span class="navbar-text">
        <small>Добро пожаловать, <%= session[:current_user_name] %>!</small>
      </span>
    <% end %>
    <li class="navbar-right">
    <%= link_to('Войти через VK', vk_oauth_signin_path) %>
  </li>
  </ul>
<% end %>
