<% if user_signed_in? %>
    <% if current_user.has_permission?('Detective') %>
    <li>
      <%= link_to "Сообщества", communities_path, 'data-no-turbolink': true %>
    </li>
    <% end %>
    <% if current_user.has_permission?('Detective') %>
    <li>
      <%= link_to "Люди", members_path, 'data-no-turbolink': true %>
    </li>
    <% end %>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wikileaks<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% CopyDialog.order(:id).each do |copy_dialog| %>
          <% if current_user.has_permission_id?(copy_dialog.permission_id) %>
            <li>
              <%= link_to copy_dialog.title, copy_dialog_copy_messages_path(copy_dialog_id: copy_dialog.id), 'data-no-turbolink': true %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>

    <% if current_user.has_permission?('Detective') %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Другое<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <% if current_user.has_permission?('DetivichAdmin') %>
        <li>
          <%= link_to "Предложенные новости", submit_news_index_path, 'data-no-turbolink': true %>
        </li>
        <% end %>
        <li>
          <%= link_to "Памятные даты", memory_dates_path, 'data-no-turbolink': true %>
        </li>
        <% if current_user.has_permission?('Admin') %>
            <li>
              <%= link_to "Пользователи", users_path, 'data-no-turbolink': true %>
            </li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "АРТ", art_drugs_path, 'data-no-turbolink': true %>
        </li>
        <li>
          <%= link_to "Не АРТ", other_drugs_path, 'data-no-turbolink': true %>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "Взаимодействие препаратов", druginteractions_path, 'data-no-turbolink': true %>
        </li>
      </ul>
      </li>
    <% end %>

    <li>
      <%= link_to('Выйти', destroy_user_session_path, method: :delete) %>
    </li>
    <% if session[:current_user_name] %>
    <p style="float: right;">
      <small>Добро пожаловать, <%= session[:current_user_name] %>!</small>
    </p>
    <% end %>

<% else %>
  <li style="float: right;">
    <%= link_to('Войти через VK', vk_oauth_signin_path) %>
  </li>
<% end %>
