<h4>Друзья в сообществах</h4>

<table class="table table-condensed">
  <% @friends_in_communities.each do |community_friends| %>
      <% community_friends[:friends].each do |friend_id| %>
          <tr>
            <td>
              <%= community_friends[:community].name %>
            </td>
            <td>
              <%= @friend_hash[friend_id].vk_id %>
            </td>
            <td>
              <%= @friend_hash[friend_id]['first_name'] %> <%= @friend_hash[friend_id]['last_name'] %>
            </td>
            <td>
              <%= link_to fa_icon(:vk, class: ['fa-lg fa-fw']), ('https://vk.com/id' + @friend_hash[friend_id].vk_id.to_s), { class: 'btn btn-sm btn-outline-primary', role: 'button'} %>
              <%= link_to fa_icon(:info, class: ['fa-lg fa-fw']), {controller: :members, action: :show, id: @friend_hash[friend_id].vk_id}, { class: 'btn btn-sm btn-outline-primary', role: 'button'} %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>