<tr>
  <td rowspan="0" style="width: 70px;"><%= content_tag(:div, image_tag(@member.raw['photo_200_orig'] || 'https://vk.com/images/camera_50.png')) %></td>
  <td style="width: 200px;">Имя</td>
  <td><%= member.raw['first_name'] %></td>
</tr>
<tr>
  <td>Фамилия</td>
  <td><%= member.raw['last_name'] %></td>
</tr>
<tr>
  <td>Страничка</td>
  <td>
    <%= link_to member.raw['screen_name'], 'https://vk.com/' + (member.raw['screen_name'] || ('id' + member.raw['id'].to_s)).to_s %><br/>
    <%= link_to('Упоминания', 'https://vk.com/feed?obj=' + member.raw['id'].to_s + '&q=&section=mentions') %>

  </td>
</tr>
<tr>
  <td>Пол</td>
  <td><%= case member.raw['sex'] when 1 then 'Женский' when 2 then 'Мужской' end %></td>
</tr>
<tr>
  <td>День рождения</td>
  <td><%= member.raw['bdate'] %></td>
</tr>
<tr>
  <td>Страна</td>
  <td><%= member.raw.try(:[], 'country').try(:[], 'title') %></td>
</tr>
<tr>
  <td>Город</td>
  <td><%= member.raw.try(:[], 'city').try(:[], 'title') %></td>
</tr>
<tr>
  <td>Skype</td>
  <td><%= member.raw['skype'] %></td>
</tr>
<tr>
  <td>Instagram</td>
  <td><%= member.raw['instagram'] %></td>
</tr>
<tr class="tr-hidable">
  <td>Статус</td>
  <td><%= member.raw['status'] %></td>
</tr>
<tr class="tr-hidable">
  <td>Никнейм</td>
  <td><%= member.raw['nickname'] %></td>
</tr>
<% if !member.raw['occupation'].nil? %>
  <tr class="tr-hidable">
    <td>Место работы</td>
    <td><%= member.raw['occupation']['name'] %></td>
  </tr>
<% end %>
<% if !member.raw['schools'].nil? %>
  <% member.raw['schools'].each do |school| %>
    <tr class="tr-hidable">
      <td>Школа</td>
      <td>
        <%= school['name'] %><br/>
        <%= school['year_from'] %> – <%= school['year_to'] %><br/>
        <%= school['speciality'] %>
      </td>
    </tr>

  <% end %>
<% end %>
<% if !member.raw['universities'].nil? %>
  <% member.raw['universities'].each do |university| %>
    <tr class="tr-hidable">
      <td>ВУЗ</td>
      <td>
        <%= university['name'] %> '<%= university['graduation'] %><br/>
        <%= university['faculty_name'] %><br/>
        <%= university['education_form'] %><br/>
        <%= university['education_status'] %>
      </td>
    </tr>
  <% end %>
<% end %>
<tr class="tr-hidable">
  <td>Фото</td>
  <td><%= link_to member.raw['photo_max_orig'], member.raw['photo_max_orig'] %></td>
</tr>
<tr>
  <td></td>
  <td>
    <button type="button" class="btn btn-link show-info">Показать подробную информацию</button>
    <button type="button" class="btn btn-link hide-info">Скрыть подробную информацию</button>
  </td>
</tr>
