<div class="span6">
<table class="table table-condensed">

  <tr>
    <td rowspan="0" style="width: 70px;"><%= content_tag(:div, image_tag(@member.raw['photo_50'] || 'https://vk.com/images/camera_50.png'), class: 'im-avatar') %></td>
    <td style="width: 200px;">Имя</td>
    <td><%= @member.first_name %></td>
  </tr>
  <tr>
    <td>Фамилия</td>
    <td><%= @member.last_name %></td>
  </tr>
  <tr>
    <td>Страничка</td>
    <td><%= link_to @member.screen_name, 'https://vk.com/' + @member.screen_name %></td>
  </tr>
  <tr>
    <td>Пол</td>
    <td><%= case @member.sex when 1 then 'Женский' when 2 then 'Мужской' end %></td>
  </tr>
  <tr>
    <td>Страна</td>
    <td><%= @member.country_title %></td>
  </tr>
  <tr>
    <td>Город</td>
    <td><%= @member.city_title %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to('Упоминания', 'https://vk.com/feed?obj=' + @member.vk_id.to_s + '&q=&section=mentions') %></td>
  </tr>
</table>
</div>