<table class="table table-condensed">
  <tr>
    <td>Имя</td>
    <td><%= @member.first_name %></td>
  </tr>
  <tr>
    <td>Фамилия</td>
    <td><%= @member.last_name %></td>
  </tr>
  <tr>
    <td>Страничка</td>
    <td><%= link_to @member.screen_name, 'https://vk.com/' + @member.screen_name %></td>
  </tr>
</table>

<h4>Друзья в сообществах</h4>

<table class="table table-condensed">
  <% @friends_in_communities.each do |community_friends| %>
      <% community_friends[:friends].each do |friend_id| %>
          <tr>
            <td>
              <%= community_friends[:community].name %>
            </td>
            <td>
              <%= link_to @friend_hash[friend_id]['domain'], 'https://vk.com/' + @friend_hash[friend_id]['domain'] %>
            </td>
            <td>
              <%= @friend_hash[friend_id]['first_name'] %>
            </td>
            <td>
              <%= @friend_hash[friend_id]['last_name'] %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>