<h4>Комментарии пользователя</h4>

<%= render 'views' %>
<div style="max-width: 800px;">

<% @member.post_comments.includes([:topic => [:community], :post => [:community]]).order(:created_at).each do |comment| %>
    <%#= comment.post.nil? %>
    <%#= YAML::dump(@user_permission_ids) %>
    <%#= comment.post.community_id %>
    <%#= (!comment.post.nil? && !@user_permission_ids.include?(comment.post.community_id)) %>
  <% if !@user_permission_ids.nil? && ((!comment.topic.nil? && !@user_permission_ids.include?(comment.topic.community.permission_id)) || (!comment.post.nil? && !@user_permission_ids.include?(comment.post.community.permission_id)) ) %>
  <% else %>
    <p>
      <%= comment.created_at.to_s %>
      <% if !comment.post.nil? %>
        <% href = comment_link(comment) %>
        <%= link_to content_tag(:i, '', class: 'fa fa-vk'), href %>
        <%= link_to content_tag(:i, '', class: 'fa fa-comments'), comment.post, target: '_blank' %>
      <% elsif !comment.topic.nil? %>
        <% href = comment_link(comment) %>
        <%= link_to content_tag(:i, '', class: 'fa fa-vk'), href %>
          <%= link_to content_tag(:i, '', class: 'fa fa-comments'), comment.topic %>
      <% end %>
      <br/>
      <%= comment_body(comment.raw['text']) %>
    </p>
    <% if comment.raw['attachments'] %>
      <% comment.raw['attachments'].each do |attachment| %>
        <%= attachment_body(attachment) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>