<h4>Комментарии пользователя</h4>

<%= render 'views' %>

<% @member.post_comments.order(:created_at).each do |comment| %>
    <% data = JSON::parse comment.raw %>
    <p>
      <%= comment.created_at.to_s %>
      <% if !comment.post.nil? %>
        <%= render partial: 'post_comment_link', locals: {comment: comment, link_text: 'Ссылка'} %>
      <% end %>
      <br/>
      <% parts = data['text'].split(/(\[id\d+\|[^\]]+\])/) %>
      <% parts.each do |part| %>
        <% matches = /^\[(id\d+)\|([^\]]+)\]$/.match part %>
        <% if matches %>
          <%= link_to matches[2], 'https://vk.com/' + matches[1] %>
        <% else %>
          <%= part %>
        <% end %>
      <% end %>
    </p>
<% end %>
