<p id="notice"><%= notice %></p>

<h4>Список отслеживаемых персон</h4>

<table id="listing_members">
  <thead>
  <tr>
    <th>Screen name</th>
    <th>First name</th>
    <th>Last name</th>
    <th>VK ID</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @members.each do |member| %>
      <tr>
        <td><%= member.screen_name %></td>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.vk_id %></td>
        <td><%= link_to 'Show', member %>
          <!--
          <%= link_to 'Edit', edit_member_path(member) %>
          <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>--></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Новая персона', new_member_path %>

<p>
  <%= form_for(@member, url: {controller: :members, action: :check}) do |f| %>
    <%= f.text_field :screen_name %>
    <%= submit_tag 'Проверить' %>
  <% end %>
</p>