<p id="notice"><%= notice %></p>

<h4>Список отслеживаемых персон</h4>

<table id="listing_members" class="display" data-source="<%= members_url(format: "json") %>">
  <thead>
  <tr>
    <th>VK ID</th>
    <th>Имя</th>
    <th>Последнее посещение</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <!--
  <% @members.each do |member| %>
      <tr>
        <td></td>
        <td><%=  %></td>
        <td>
          <% if !member.last_seen_at.nil? %>
          <%=  %>
          <% end %>
        </td>
        <td><%=  %></td>
      </tr>
  <% end %>
  -->
  </tbody>
</table>

<br>


<%= link_to 'Новая персона', new_member_path %>

<p>
  <%= form_for(@member, url: {controller: :members, action: :check}) do |f| %>
    <%= f.text_field :screen_name %>
    <%= submit_tag 'Проверить' %>
  <% end %>
</p>