<p id="notice"><%= notice %></p>

<h4>Список отслеживаемых персон</h4>

<table id="listing_members">
  <thead>
  <tr>
    <th>VK ID</th>
    <th>Имя</th>
    <th>Последнее посещение</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.vk_id.to_s, 'https://vk.com/id' + member.vk_id.to_s %></td>
        <td><%= member.first_name.to_s + ' ' + member.last_name.to_s %></td>
        <td>
          <% if !member.last_seen_at.nil? %>
          <%= member.last_seen_at %>
          <% end %>
        </td>
        <td><%= link_to 'Show', member %>
          <!--
          <%= link_to 'Edit', edit_member_path(member) %>
          <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>--></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Новая персона', new_member_path %>

<p>
  <%= form_for(@member, url: {controller: :members, action: :check}) do |f| %>
    <%= f.text_field :screen_name %>
    <%= submit_tag 'Проверить' %>
  <% end %>
</p>