<p id="notice"><%= notice %></p>

<h4>Список отслеживаемых персон</h4>

<table id="listing_members" data-source="<%= members_url(format: "json") %>">
  <thead>
  <tr>
    <th>VK ID</th>
    <th>Имя</th>
    <th>Город</th>
    <th>Последнее посещение</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>


<%= link_to 'Новая персона', new_member_path %>

<p>
  <%= form_for(@member, url: {controller: :members, action: :check}) do |f| %>
    <%= f.text_field :screen_name %>
    <%= submit_tag 'Проверить', class: 'btn btn-primary btn-sm' %>
  <% end %>
</p>