<%= form_for(@member) do |f| %>
  <div class="field">
    <%= f.label :screen_name %><br>
    <%= f.text_field :screen_name %>
  </div>
  <div class="actions">
    <%= link_to('Назад', :back, class: 'btn btn-default btn-sm') %>
    <%= f.submit('Добавить', class: 'btn btn-primary btn-sm') %>
  </div>
<% end %>