<h4>Информация о персоне</h4>

<%= render 'info' %>

<%= link_to 'Все друзья', {controller: :members, action: :friends, id: @member.id} %>
<%= link_to 'Комментарии', {controller: :members, action: :comments, id: @member.id} %>

<%= render 'member_of' %>
<%= render 'friends_in_communities' %>
